@page "/keyed-each-blocks"

<button @onclick="handleClick">
    Remove first thing
</button>

@foreach (var thing in things)
{
    <Thing name=@thing.name />
}

@code {
    private List<Thing> things = new()
{
new Thing(1,"apple"),
new Thing(2,"banana"),
new Thing(3,"carrot"),
new Thing(4,"doughnut"),
new Thing(5,"egg"),
};
    private void handleClick()
    {
        things = things.Skip(1).ToList();
    }
}

@code {
    private class Thing
    {
        public Thing(int id, string name)
        {
            this.id = id;
            this.name = name;
        }
        public int id { get; set; }
        public string name { get; set; }
    }
}