<p>@name = @emoji</p>

@code {
    public static Dictionary<string, string> emojis = new Dictionary<string, string>()
{
{"apple","ðŸŽ"},
{"banana", "ðŸŒ"},
{"carrot", "ðŸ¥•"},
{"doughnut", "ðŸ©"},
{"egg", "ðŸ¥š"}
};
    [Parameter]
    public string? name { get; set; }
    private string emoji => !string.IsNullOrEmpty(name) ? emojis[name] : "";
}