@page "/dom-events"

<div @onpointermove="hadleMove">
	The pointer is at @m.x x @m.y
</div>

<style>
	div {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 1rem;
	}
</style>

@code {
    private (double x, double y) m;

    private void hadleMove(PointerEventArgs e)
    {
        m.x = e.ClientX;
        m.y = e.ClientY;
    }
}